# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/java/basico/Ejemplo1/nbproject/private/
/java/basico/Ejemplo1/build/
/java/jdbc/JDBCEjemplo3/build/
/java/jdbc/JDBCEjemplo3/dist/
/java/basico/ColeccionIterable/nbproject/private/
/java/basico/ColeccionIterable/build/
/java/jdbc/JDBCEjemplo4/build/
/java/jdbc/JDBCEjemplo4/dist/
/java/jdbc/JDBCEjemplo5/nbproject/private/
/java/jdbc/JDBCEjemplo5/build/
/java/jdbc/JDBCEjemplo6/nbproject/private/
/java/jdbc/JDBCEjemplo6/build/
/java/jdbc/JDBEjemplo7/nbproject/private/
/java/jdbc/JDBEjemplo7/build/
/java/jdbc/JDBCEjemplo8/nbproject/private/
/java/jdbc/JDBCEjemplo8/build/
/java/jdbc/JDBCEjemplo9/nbproject/private/
/java/jdbc/JDBCEjemplo9/build/
/java/jdbc/JDBCPrimerDAO/nbproject/private/
/java/jdbc/EjemploDAOsout/nbproject/private/
/java/jdbc/EjemploDAOsout/build/
/java/jdbc/ProyectoV2/nbproject/private/
/java/jdbc/ProyectoV2/build/
/java/jdbc/ProyectoV2/dist/
/java/patrones/DependencyInjection/nbproject/private/
/java/patrones/DependencyInjection/build/
/java/jpa/SegundoEjemploJPA/nbproject/private/
/java/jpa/EjemploTresJPA/nbproject/private/
/java/jpa/EjemploTresJPA/build/
/java/jpa/EjemploTresJPA/dist/
/javaweb/Ejemplo1/nbproject/private/
/javaweb/Ejemplo1/build/
/javaweb/Ejemplo1/dist/
/javaweb/Ejemplo2/nbproject/private/
/javaweb/Ejemplo/nbproject/private/
/javaweb/Ejemplo/dist/
/javaweb/Ejemplo/build/
/javaweb/Ejemplo3/nbproject/private/
/javaweb/Ejemplo3/build/
/javaweb/Ejemplo4/nbproject/private/
/javaweb/Ejemplo5/nbproject/private/
/javaweb/Ejemplo5/build/
/javaweb/Ejemplo5/dist/
/javaweb/Ejemplo6/nbproject/private/
/javaweb/Ejemplo6/build/
/javaweb/Ejemplo7/nbproject/private/
/javaweb/Ejemplo7/build/
/javaweb/WebApplication1/nbproject/private/
/javaweb/WebApplication1/build/
/javaweb/Ejemplo8/nbproject/private/
/javaweb/Ejemplo8/build/
/javaweb/Ejemplo8/dist/
/javaweb/Ejemplo9/nbproject/private/
/javaweb/Ejemplo9/build/
/javaweb/Ejemplo9/dist/
/javaweb/PetCatalog/nbproject/private/
/javaweb/Ejemplo10/nbproject/private/
/javaweb/Ejemplo10/build/
/javaweb/jsp/Ejemplo1/build/
/javaweb/jsp/Ejemplo1/dist/
/javaweb/jsp/Ejemplo1/nbproject/private/
/javaweb/jsp/Ejemplo2/nbproject/private/
/javaweb/jsp/Ejemplo3/build/
/javaweb/jsp/Ejemplo3/nbproject/private/
/javaweb/jsp/Ejemplo5/build/
/javaweb/jsp/Ejemplo5/dist/
/javaweb/jsp/Ejemplo5/nbproject/private/
/javaweb/jsp/Ejemplo6/build/
/javaweb/jsp/Ejemplo6/nbproject/private/
/javaweb/jsf/Ejemplo10/build/
/javaweb/jsf/Ejemplo10/dist/
/javaweb/jsf/Ejemplo10/nbproject/private/
/javaweb/Nueva Carpeta/Ejemplo1/nbproject/private/
/javaweb/Nueva Carpeta/Ejemplo1/build/
/javaweb/Nueva Carpeta/EjemploEJB2/nbproject/private/
/javaweb/Nueva Carpeta/EjemploEJB2/build/
/javaweb/Nueva Carpeta/EjemploEJB3/EjemploEJB3/target/
/javaweb/Nueva Carpeta/Ejemplo1/dist/
/javaweb/JEE/EjemploProyectoJEE/nbproject/private/
/javaweb/JEE/EjemploProyectoJEE/EjemploProyectoJEE-war/nbproject/private/
/javaweb/JEE/EjemploProyectoJEE/EjemploProyectoJEE-ejb/nbproject/private/
/javaweb/JEE/EjemploProyectoJEE/EjemploProyectoJEE-ejb/build/
/javaweb/JEE/EjemploProyectoJEE/EjemploProyectoJEE-ejb/dist/
/javaweb/JEE/EjemploProyectoJEE/dist/
/javaweb/JEE/EjemploProyectoJEE/build/
/javaweb/JEE/EjemploProyectoJEE/EjemploProyectoJEE-war/dist/
/javaweb/JEE/EjemploProyectoJEE/EjemploProyectoJEE-war/build/
/javaweb/JEE/EJBModule1/nbproject/private/
/javaweb/Nueva Carpeta/nbproject/private/
/javaweb/jsf/Ejemplo7/dist/
/javaweb/Nueva Carpeta/build/
/javaweb/JEE/EJBModule1/build/
/javaweb/JEE/EJBModule1/dist/
/javaweb/Nueva Carpeta/dist/
/javaweb/Nueva Carpeta/EjemploEJB2/dist/
/javaweb/JEE/Proyecto/nbproject/private/
/javaweb/JEE/Proyecto/Proyecto-war/nbproject/private/
/javaweb/JEE/Proyecto/Proyecto-ejb/nbproject/private/
/javaweb/JEE/ProyectoServlet/nbproject/private/
/javaweb/JEE/Proyecto/Proyecto-ejb/build/
/javaweb/JEE/Proyecto/dist/
/javaweb/JEE/Proyecto/build/
/javaweb/JEE/Proyecto/Proyecto-war/build/
/javaweb/JEE/Proyecto/Proyecto-war/dist/
/javaweb/JEE/ProyectoServlet/build/
/javaweb/JEE/ProyectoServlet/dist/
/javaweb/JEE/Proyecto/Proyecto-ejb/dist/